    <!-- Related Car Start -->
<div class="container-fluid pb-5">
    <div class="container pb-5" *ngIf="vehicles">
        <h2 class="mb-4">Vehicles from same office</h2>
        <owl-carousel-o class="'owl-responsive related-carousel position-relative w-50"  [options]="customOptions"> 
            <ng-template  carouselSlide *ngFor="let vehicle of vehicles">
                <div class="  rent-item">
                    <img class="img-fluid mb-4" [src]="vehicle.urls" alt="">
                    <h4 class="text-uppercase mb-4">{{vehicle.title}}</h4>
                    <div class="d-flex justify-content-center mb-4">
                        <div class="px-2">
                            <i class="fa fa-car text-primary mr-1"></i>
                            <span>{{vehicle.model}}</span>
                        </div>
                        <div class="px-2 border-left border-right">
                            <i class="fa fa-cogs text-primary mr-1"></i>
                            <span>{{vehicle.category.typeVehicle}}</span>
                        </div>
                        <div class="px-2">
                            <i class="fa fa-road text-primary mr-1"></i>
                            <span>{{vehicle.nbrOfKm}}</span>
                        </div>
                    </div>
                    <a class="btn btn-primary px-3" href="">{{vehicle.dailyPrice}} /Day</a>
                </div>
            </ng-template> 

            <!-- this vehicle just for styling -->
            <ng-template carouselSlide>
                <div class="rent-item">
                    <img class="img-fluid mb-4" src="../../../../assets/img/car-rent-1.png" alt="">
                    <h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
                    <div class="d-flex justify-content-center mb-4">
                        <div class="px-2">
                            <i class="fa fa-car text-primary mr-1"></i>
                            <span>2015</span>
                        </div>
                        <div class="px-2 border-left border-right">
                            <i class="fa fa-cogs text-primary mr-1"></i>
                            <span>AUTO</span>
                        </div>
                        <div class="px-2">
                            <i class="fa fa-road text-primary mr-1"></i>
                            <span>25K</span>
                        </div>
                    </div>
                    <a class="btn btn-primary px-3" href="">$99.00/Day</a>
                </div>
            </ng-template>  
          </owl-carousel-o>


       
    </div>
</div>


<!-- <div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>Slide 1</ng-template>  
  <ng-template carouselSlide>Slide 2</ng-template>  
  <ng-template carouselSlide>Slide 3</ng-template>  
</owl-carousel-o>
<div>Some tags after</div> -->