<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="bg-light p-4">
                    <img src="../../../../assets/img/vendor-1.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-light p-4">
                    <img src="../../../../assets/img/vendor-2.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-light p-4">
                    <img src="../../../../assets/img/vendor-3.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-light p-4">
                    <img src="../../../../assets/img/vendor-4.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-light p-4">
                    <img src="../../../../assets/img/vendor-5.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-light p-4">
                    <img src="../../../../assets/img/vendor-6.png" alt="">
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<!-- Vendor End -->