<app-search-bar (locationId)="findVehiclesByLocations($event)"></app-search-bar>
<!-- Rent A Car Start -->
<div class="container-fluid py-5">


<div class="container pt-5 pb-3">
    <h1 class="display-4 text-uppercase text-center mb-5">Find Your Car</h1>
    <div class="row" *ngIf="vehicles">
        <div class="col-lg-4 col-md-6 mb-2"  *ngFor="let vehicle of vehiclesShown">
            <div class="rent-item mb-4">
                <img class="img-fluid mb-4" src="../../../../assets/img/car-rent-1.png" alt="">
                <h4 class="text-uppercase mb-4">{{vehicle.title}}</h4>
                <div class="d-flex justify-content-center mb-4">
                    <div class="px-2">
                        <i class="fa fa-car text-primary mr-1"></i>
                        <span>{{vehicle.dateFirstCirculation|date}}</span>
                    </div>
                    <div class="px-2 border-left border-right">
                        <i class="fa fa-cogs text-primary mr-1"></i>
                        <span>AUTO</span>
                    </div>
                    <div class="px-2">
                        <i class="fa fa-road text-primary mr-1"></i>
                        <span>{{vehicle.nbrOfKm}}KM</span>
                    </div>
                </div>
                <a class="btn btn-primary px-3" href="">${{vehicle.dailyPrice}}/Day</a>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Rent A Car End -->
<div class="d-flex justify-content-between p-2" *ngIf="vehicles">
    <ngb-pagination [collectionSize]="vehicles.length" [(page)]="offset" [pageSize]="pageSize"
        (pageChange)="refreshCountries()">
    </ngb-pagination>
    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
        <option [ngValue]="3">3 items per page</option>
        <option [ngValue]="6">6 items per page</option>
        <option [ngValue]="9">9 items per page</option>
    </select>
</div>