<!-- Detail Start -->
<div class="container-fluid pt-5">
    <div class="container pt-5">
        <div class="row" *ngIf="vehicle">
            <div class="col-lg-8 mb-5">
                <h1 class="display-4 text-uppercase mb-5">{{vehicle.title}}</h1>
                <div class="row mx-n2 mb-3">
                    <div class="col-md-3 col-6 px-2 pb-2" *ngFor="let url of vehicle.urls">
                        <img class="img-fluid w-100" [src]="url" alt="" style="height: 170px">
                    </div>
                    <div class="col-md-3 col-6 px-2 pb-2">
                        <img class="img-fluid w-100" src="../../../../assets/img/gallery-2.jpg" alt="">
                    </div>
                    <div class="col-md-3 col-6 px-2 pb-2">
                        <img class="img-fluid w-100" src="../../../../assets/img/gallery-3.jpg" alt="">
                    </div>
                    <div class="col-md-3 col-6 px-2 pb-2">
                        <img class="img-fluid w-100" src="../../../../assets/img/gallery-4.jpg" alt="">
                    </div>
                </div>
                <span style="color: black;font-weight: 700;">Description: </span>
                <p>{{vehicle.description}}</p>
                <div class="row pt-2">
                    <div class="col-md-3 col-6 mb-2">
                        <i class="fa fa-car text-primary mr-2"></i>
                        <span>Model: {{vehicle.model}}</span>
                    </div>
                    <div class="col-md-3 col-6 mb-2">
                        <i class="fa fa-cogs text-primary mr-2"></i>
                        <span>Franchise: {{vehicle.franchise}}</span>
                    </div>
                    <div class="col-md-3 col-6 mb-2">
                        <i class="fa fa-road text-primary mr-2"></i>
                        <span>{{vehicle.nbrOfKm}} Km/h</span>
                    </div>
                    <div class="col-md-3 col-6 mb-2">
                        <i class="fa fa-eye text-primary mr-2"></i>
                        <span>First Circulation : {{vehicle.dateFirstCirculation|date}}</span>
                    </div>

                    <div class="col-md-3 col-6 mb-2" style="font-size: 0.9rem;">
                        <i class="fa fa-eye text-primary mr-2"></i>
                        <span>Category: {{vehicle.category.description}}</span>
                    </div>
                    <div class="col-md-3 col-6 mb-2">
                        <i class="fa fa-road text-primary mr-2"></i>
                        <span>Type : {{vehicle.category.typeVehicle}}</span>
                    </div>
                    <div class="col-md-3 col-6 mb-2">
                        <i class="fa fa-cogs text-primary mr-2"></i>
                        <span>Price: {{vehicle.dailyPrice|currency}}</span>
                    </div>
                    <div class="col-md-3 col-6 mb-2">
                        <i class="fa fa-car text-primary mr-2"></i>
                        <span>GPS Navigation</span>
                    </div>
                </div>
                <div class="row pt-2">

                    <div class="col-md-12 col-12 mb-2" *ngIf="office">
                        <span style="color: black;font-weight: 700;">Office Details : </span>
                        <span>City : {{office.city}} ,</span>
                        <span>address: {{office.address}} ,</span>
                        <span> Phone :<a [href]="office.phone">{{office.phone}} </a></span>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 mb-5">
                <div class="bg-secondary p-5">
                    <h3 class="text-primary text-center mb-4">Book Now</h3>
                    <div class="form-group">
                        <input type="text" placeholder="Full Name" [(ngModel)]="reservation.customer.fullName"
                            class="form-control p-4">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email" [(ngModel)]="reservation.customer.email"
                            class="form-control p-4">
                    </div>
                    <div class="form-group">
                        <input type="tel" placeholder="Phone Number" required #phoneNumber class="form-control p-4">
                    </div>

                    <div class="form-group">
                        <input type="number" placeholder="Duration" required #duration class="form-control p-4">
                    </div>
                    <div class="form-group">
                        <input type="date" placeholder="Pick Up Date" required #pickUpDate class="form-control p-4">
                    </div>
                    <div class="form-group" *ngIf="offices">
                        <select class="form-control custom-select px-4" [(ngModel)]="reservation.officeId"
                            style="height: 50px;">
                            <option selected disabled value="0">Pickup Location</option>
                            <option *ngFor="let office of offices" value="{{office.id}}">{{office.city}}</option>
                        </select>
                    </div>
                    <div class="form-group mb-0">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 50px;"
                            (click)="submitReservation(phoneNumber.value,duration.value,pickUpDate.value)">Check
                            Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-related-cars></app-related-cars>
<div class="toast text-center "  [ngClass]="{'d-none':!alert}">
    <div class="toast-header">
        <strong class="me-auto">Order Submitted</strong>
        <small class="text-muted"><a href=""><i class="fa fa-solid fa-check"></i></a></small>
    </div>
    <div class="toast-body">
        Thanks , we will call you sooner 
    </div>
</div>